<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Resident</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  </head>
  <body>
<table class="table table-hover">
  <thead class="table-dark">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Residing_apartments</th>
      <th scope="col">Owner</th>
    </tr>
  </thead>
  <tbody>
  {% for r in residents %}
    <tr>
      <td>{{r.resident_id}}</td>
      <td>{{r.resident_name}}</td>
      <td>{{r.residing_apartments}}</td>
      <td>{{r.owner}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>